
/* Al agregar este selector universal box-sizing: border-box; se ahorra el trabajo de sumar todos los lados y lo realiza solo. */
/* El margin 0; permite que se quite el margen del body de las páginas web que ya viene por defecto. Creando estás etiquetas desde el principio es una buena forma de iniciar a estilizar una página web*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Mukta", serif;
    font-weight: 700;
    font-style: normal;
}

#ícono-SBucks{
    display:inline-block;
    background-image: url("./assets/logo-star.png");
    margin: 0 25px 0 60px;
    width: 55px;
    height: 55px;
    background-size: cover;
}

header{
    height: 90px;
}

/* El margin y el padding se pueden especificar por lados  (left, right, top and bottom) va de acuerdo a las manecillas del reloj o de forma general como en los dos ejemplos.*/

nav{
    padding: 13px 0;
    background-color: #fefefe;
}

/* Es necesario quitarle el estilo por defecto a las anclas para que se pueda visualizar la pseudo-clase: hover en los botones y agregarle el color que yo quiera.*/

a{
    color:black;
    text-decoration: none;
}

section img{
    width: 50%;
}

/* Si me quiero referir a una etiqueta de clase se inicia con un ( . ) */

/* El padre de los elementos a estilizar en este caso es la <nav class= "navbar"> */

/* Sí uno color se declará en la etiqueta padre, el color se hereda a los hijos [A veces depende de la acción que se quiera realizar].*/

.navbarbutton,#ícono-SBucks{
    vertical-align: middle;
}

/* Al agregar una ( , ) se le indica a la etiqueta de estilo que esa condición también aplique a otra sección. */

.navbarbutton{
    display: inline-block;
    margin: 0 20px; 
}

.navbarbutton a{
    color: #212121;
    padding-bottom: 30px;
}

/* Para utilizar una pseudo-clases es necesario especificar el ancla y agregar ( : ) antes de la pseudo-clase.*/
/* Para saber cuál es el color específico de un hover. Se puede forzar el estado de un elemento de la página web para que realice la acción para la que se agregó. Por medio de la herramienta de inspección; en la pestaña de styles se da click en el botón :hov y se forza la acción.*/


a:hover{
    border-bottom: 6px solid #00754a;
    color: #00754a;
}

.banner{
    display: flex;
    background-color: #1e3932;
    color: white;
    text-align: center;
}

.banner h2{
    font-size: 28px;
    margin-bottom: 25px;
}

.banner p{
    font-size: 20px;
    line-height: 50px;
}

.banner div{
    align-content: center;
    padding: 0 140px;
}
